{% extends  "base.html" %}
{% load testapp_basic_tags %}
{% block "content" %}
<a href="{% url testapp-last_requests_page %}">View last 10 requests</a>{% if user.is_authenticated %} | <a href="/accounts/logout">Logout</a>{% endif %}
<h1>42 Coffee Cups Test Assignment</h1>
<div class="left">
	<table>
		<tr>
			<th>Name:</th>
			<td>{{info.first_name}}</td>
			
		</tr>
		<tr>
			<th>Last Name:</th>
			<td>{{info.last_name}}</td>
		</tr>
		<tr>
			<th>Date of Birth:</th>
			<td>{{info.birthdate|date:"d.m.Y"}}</td>
		</tr>
		<tr>
			<th colspan="2">Bio:</th>
		</tr>
		<tr>
			<td colspan="2">{{info.bio}}</td>
		</tr>
	</table>
</div>
<div class="right">
	<strong>Contacts</strong>
	<table>
		<tr>
			<th>Email:</th>
			<td>{{info.email}}</td>
		</tr>
		<tr>
			<th>Jabber:</th>
			<td>{{info.jabber}}</td>
		</tr>
		<tr>
			<th>Skype:</th>
			<td>{{info.skype}}</td>
		</tr>
		<tr>
			<th colspan="2">Other contacts:</th>
		</tr>
		<tr>
			<td colspan="2">{{info.other_contacts}}</td>
		</tr>
	</table>
</div>
<div class="bothclear">&nbsp;</div>
<a href="{% url testapp-edit-startpage %}">Edit this page</a> | <a href="{% edit_link info %}">admin</a>
{% endblock %}