@charset "utf-8";

.bothclear {
	clear: both;
}

div.left {
	float: left;
	width: 400px;
}

div.right {
	float: left;
}

div.left table tr th, 
div.right table tr th {
	text-align: left;
}

.error ul {
	margin: 0;
	padding: 0;
	color: red;
	list-style-type: none;
	font-size: 75%;
}

label {cursor: pointer;}